.menuItem {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid gainsboro;
  height: 37px;
  text-decoration: none;
  color: black;
}
.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}
